.container {
    flex-wrap: wrap;
    margin-top: 20px;
}
.card h6 {
    font-weight: bold;
}

.card {
    border-radius: 8px;
    background-color: aliceblue;
    border: 1px solid gray;
}

img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

button {
    border-style: #d6d2bd;
    width: 120px;
    height: 42px;
    margin-top: 80px;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, 'Courier New', Courier, monospace, sans-serif;
    font-size: 15px;
    background-color: #d6d2bd;
}

.content-box {
    width: auto;
    background: #fff;
    padding: 20px 50px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.book-cover {
    margin: 0 5px 0 30px;
}